<div class="thumbnail clearfix">
    <div class="image span5">
        <img class="img-rounded" src="<%= img %>" alt="<%= title %>" />
    </div>
    <div class="span7">
        <h3><%= title %></h3>
        <div class="description"><%= description %></div>
        <p class="price">
            <span>Price:</span> <span class="label label-info">$<%= price %></span>
        </p>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="navbar-form">
                    <input class="span8" min="1" type="number" value="1" />
                    <input class="btn span4" type="submit" value="Add to cart" />
                </div>
            </div>
        </div>
    </div>
</div>